# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# DVC
.dvc/tmp/
.dvc/cache/

# MLflow
mlruns/

# Data
data/processed/
models/
*.pth
*.pkl

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
/metrics.json
